.project-section {
    width: 100%;
    height: 100%;
    margin-bottom: 10dvh;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.project-card {
  background: var(--color-accent2);
  height: auto;
  max-width: 30.3%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 10px var(--color-accent1);
  border-radius: 5px;
  margin: 1.5% 1.5%;
  display: flex;
}

.project-card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0px 15px var(--color-accent1);
  cursor: pointer;
}

.project-card:active {
  transform: translateY(10px) !important;
  box-shadow: 0px 0px var(--color-accent1);
}

.project-card-thumbnail {
  width: 100%;
  overflow: hidden;
  background: var(--color-accent1);
  border-radius: 5px 5px 0px 0px;
}

.project-card-thumbnail .thumbnail {
  width: 100%;
  object-fit: cover;
  background-color: red;
  aspect-ratio: 16/9;
}

.project-title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: clamp(1rem, 2.45dvw ,2.5rem);
  font-family: Outfit;
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumbnail {
  max-width: 100%;
}

.showmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .project-card {
    max-width: 47%;
    margin-bottom: 5%;
  }
  .project-title {
    font-size: clamp(1.8rem, 3dvw ,2rem);
  }
  
}

@media (max-width: 760px) {
  .project-card {
    max-width: 100%;
    margin-bottom: 5%;
  }
  .project-title {
    font-size: clamp(2rem, 10dvw ,3rem);
  }

  .showmore button {
    height: 3.75rem;
    width: 100%;
  }
}