.project-section {
    width: 100%;
    height: 100%;
    margin-bottom: 10dvh;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.project-card {
  background: var(--color-accent2);
  height: auto;
  max-width: 30.3%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 10px var(--color-accent1);
  border-radius: 5px;
  margin: 1.5% 1.5%;
}

.project-card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0px 15px var(--color-accent1);
  cursor: pointer;
}

.project-card:active {
  transform: translateY(10px);
  box-shadow: 0px 0px var(--color-accent1);
}

.project-card-thumbnail {
  width: 100%;
  height: 70%;
  overflow: hidden;
  background: var(--color-accent1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
}

.project-title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2rem;
  font-family: Outfit;
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumbnail {
  width: 100%;
}
