.skills-modal {
    background-color: var(--background);
    padding: 2%;
    overflow-wrap: normal;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
    max-width: 70vw;
}

.icons {
    max-height: 40dvh;
    overflow: scroll;
}

.icon {
    color: var(--color-accent3);
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
}

.icon-container {
    background-color: var(--background);
    border-radius: 7px;
    border-color: var(--color-accent2);
    padding: 9px 8px;
    border-style: solid;
    width: auto;
    display: inline-block;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}