@import url("https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --image-0: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGOSURBVHgBtVXLUcMwEH1a8b25AgZ1EDowDQC+MBM4JFQQqCChAtIBuUCOZoYCoAPowJmhAHKDiyVWTgJGEzlSGN6Mx7Z2racnvV0DkbjLi9Y4L1JEghAJktTTRCkiEU1kDFIB9BCJKKLx41vKt32+ktjti1NkdGfxKKSMUiVCE2/zItkmeq8NTXe1VlmmpiHfByvaAk6coeRDUheBCCYiKTvumIA4RiCqrePaGAiiPv4BRuvr80wNvs+IXbRviJ4wc9WfIYR4RlletDM1qd7dhPu8uGTCPgcSrAHDJhGs4ixTw1/Ey5Jn6jDgk+kgAq6KlUQ1wi63m5tV6qwKEuKqfbQ38uU0uo5XNmKSlXViV7tTlg9NOY1E7MYuwsyRfAItrEvEbSa4TiBlfy0iawhu1W43mLCjDvlS9rkeMMakObcp33wbvoBG9Tv4mWheeLUh5Rb6vCUNl83n3zqiqjtby1oFDkmFquJr6ppakreO2NYvywrPh0Whb/LWnmbq1Y37FKWk9UEoiYXNtd/44l9CMo3NldxNTAAAAABJRU5ErkJggg==);
  --custom-width: 100vw;
  --design-width: 1512;
  --ratio: calc(var(--custom-width) / var(--design-width));
  --background: #424874;
  --color-accent1: #A6B1E1;
  --color-accent2: #DCD6F7;
  --color-accent3: #F4EEFF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  scroll-behavior: smooth;
}

.workmode {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  background: black;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

button:focus {
  outline: none;
}

button:active {
  background: none;
}

.container {
  margin-left: 75px;
  margin-right: 75px;
}

.btn-primary {
  display: flex;
  width: 11.875rem;
  height: 3.3125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent2);
  border-radius: 20px;
  border-width: 0px;
  box-shadow: 0px 5px var(--color-accent1);
  transition: 0.1s ease-in-out;
}

.btn-primary:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px var(--color-accent1);
}

.btn-primary:active {
  background-color: var(--color-accent1);
  box-shadow: 0px 0px var(--color-accent1);
  transform: translateY(5px);
}

.btn-secondary {
  display: flex;
  width: 11.875rem;
  height: 3.3125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-accent2);
  box-shadow: 0px 5px var(--color-accent1);
  transition: 0.1s ease-in-out
}

.btn-secondary:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px var(--color-accent1);
}

.btn-secondary:active {
  background-color: var(--background);
  border-color: var(--color-accent1);
  box-shadow: 0px 0px var(--color-accent1);
  transform: translateY(5px);
}

.social-links a {
  text-decoration: none;
}

.additional-links a {
  text-decoration: none;
}

.text-primary {
  color: var(--background);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Outfit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.875rem; 
}

.text-secondary {
  color: var(--color-accent2);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Outfit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.875rem; 
}

.title {
  display: inline-block;
  color: var(--color-accent2);
  text-align: right;
  font-family: Outfit;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.75rem; /* 150% */
}

.sub-heading {
    font-family: Outfit;
    font-weight: 800;
    color: var(--color-accent3);
    font-size: 3rem;
}

.smaller-section-divider {
  background-color: var(--color-accent3);
  height: 0.2dvh;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.section-divider {
  background-color: var(--color-accent3);
  height: 0.75dvh;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 70dvw;
}