.hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-profile {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 5px;
  padding-right: 2rem;
  border-style: solid;
  border-color: var(--color-accent3);
  display: flex;
}

.hero-details {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.additional-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-icon {
  margin-right: 0.4rem;
}

.name {
  display: inline-block;
  color: white;
  text-align: right;
  font-family: Outfit;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.75rem; /* 150 */
  transition: 0.1s ease-in-out;
  transform-origin: right;
  display: flex;
}

.name:hover {
  rotate: -2deg;
}

.location {
  display: block;
  color: var(--color-accent2);
  text-align: right;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.875rem;
  transform-origin: right;
  transition: 0.1s ease-in-out;
}

.location:hover {
  rotate: -2deg;
}

.circles {
  z-index: -1;
  width: 60%;
  height: 70%;
  border-radius: 0%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border-color: var(--color-accent2);
  border-style: solid;
  border-width: 16px;
  background-color: var(--color-accent2);
  position: relative;
}

.circles img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.circles:hover img {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}

.circles:hover {
  transition: 1s ease-in-out;
  background-image: url("/bartsimpson.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
}

.scribble-font {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 1000;
}

.circles .scribble-font {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.circles:hover .scribble-font {
  transition: opacity 0.2s ease-in-out;
  opacity: 0 !important;
}

.image-section {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: rotate 0.2s ease-in-out;
  transform: rotate(5deg);
}

.polaroid-date {
  font-size: 1.5rem;
  display: block;
}

.tape-top {
  background: rgb(255, 221, 159);
  opacity: 0.9;
  width: 10%;
  height: 20%;
  position: absolute;
  top: 7%;
  left: 16%;
  rotate: 45deg;
}

.tape-bottom {
  background: rgb(255, 221, 159);
  opacity: 0.9;
  width: 10%;
  height: 20%;
  position: absolute;
  bottom: 3%;
  right: 16%;
  rotate: 65deg;
}

@media (max-width: 1000px) {
  .hero-section {
    height: 100dvh;
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: normal;
  }

  .hero-profile {
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    border-right-width: 0px;
    border-top-width: 5px;
    text-align: center;
    justify-content: center;
  }

  .hero-details {
    max-height: 30%;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .btn-primary {
    height: 3.5rem;
    width: 9rem;
  }

  .btn-secondary {
    height: 3.5rem;
    width: 9rem;
  }

  .image-section {
    height: 50dvh;
    width: 80dvw;
    transform: rotate(0deg);
    padding: 2px 2px;
  }

  .circles {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .circles span {
    font-size: 1.5rem;
  }

  .circles .polaroid-date {
    font-size: 1.25rem;
  }

  .tape-top {
    top: 5%;
    left: 1%;
    width: 8%;
    height: 23%;
  }

  .tape-bottom {
    bottom: 5%;
    right: 1%;
    width: 8%;
    height: 23%;
  }

  .name {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1%;
  }

  .title {
    text-align: center;
    line-height: 100%;
    font-size: 1.5rem;
  }

  .location {
    font-size: 1rem;
    text-align: center;
  }

  .detail-buttons {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  .social-links {
    display: flex;
    justify-items: right;
    align-items: center;
  }

  .additional-links {
    display: flex;
    justify-items: left;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .btn-primary {
    width: 7.5rem;
  }
  .btn-secondary {
    width: 7.5rem;
  }
  .text-primary {
    font-size: 1.3rem;
  }
  .text-secondary {
    font-size: 1.3rem;
  }
}
