.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 20px;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px 20px;
  background: var(--color-accent2);
  border-radius: 50px;
  z-index: 4;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 5px var(--color-accent1);
  visibility: hidden;
}

.nav-text {
  font-family: Outfit;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--background);
  flex: 1;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-text:hover {
  color: var(--color-accent1);
}

.hamburger {
    background-color: var(--color-accent2);
    padding: 12px;
    color: var(--background);
    border-radius: 50px;
    width: auto;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 5px var(--color-accent1);
}

.hamburger:hover {
  transform: translateY(-2px);
  box-shadow: 0px 7px var(--color-accent1);
  cursor: pointer;
}

.hamburger:active {
    transform: translateY(5px);
    box-shadow: 0px 0px var(--color-accent1);;
}

.hamburger-active {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    visibility: visible;
}