
.project-modal {
    background-color: var(--background);
    padding: 2%;
    overflow-wrap: normal;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    max-height: 80dvh;
    text-align: left;
}

.project-content {
    overflow: scroll;
}

.project-thumbnail {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    max-height: 30dvh;
}

.languages, .techstack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.project-name {
    font-family: Outfit;
    color: var(--color-accent3);
    font-size: 3rem;
    font-weight: 800;
}

.project-description {
    color: var(--color-accent3);
    font-family: Roboto;
    font-size: 1.5rem;
}

.project-icons {
    margin-bottom: 2rem;
}

.project-subheading {
  color: white;
  font-family: Outfit;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  margin: 2% 5%;
  overflow: auto;
}

.project-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.project-footer a {
    text-decoration: none;
}
