.project-card {
  background: var(--color-accent2);
  height: auto;
  max-width: 30.3%;
  box-shadow: 0px 10px var(--color-accent1);
  border-radius: 5px;
  margin: 1.5% 1.5%;
  display: flex;
  opacity: 0;
  transform: translateY(-50px);
}

.animate-project {
  animation: slideIn 0.25s ease-in-out forwards;
}

.animation-done {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-done:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px var(--color-accent1);
  cursor: pointer;
}

.animation-done:active {
  transform: translateY(10px);
  box-shadow: 0px 0px var(--color-accent1);
}

.project-card-thumbnail {
  width: 100%;
  overflow: hidden;
  background: var(--color-accent1);
  border-radius: 5px 5px 0px 0px;
}

.project-card-thumbnail .thumbnail {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.project-title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: clamp(1rem, 2.45dvw, 2.5rem);
  font-family: Outfit;
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumbnail {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .project-card {
    max-width: 47%;
    margin-bottom: 5%;
  }

  .project-title {
    font-size: clamp(1.8rem, 3dvw, 2rem);
  }
}

@media (max-width: 760px) {
  .project-card {
    max-width: 100%;
    margin-bottom: 5%;
  }

  .project-title {
    font-size: clamp(2rem, 10dvw, 3rem);
  }
}