.skills-modal {
  background-color: var(--background);
  padding: 2%;
  overflow-wrap: normal;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 70vw;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  max-height: 40dvh;
  justify-content: center;
  overflow: auto;
  padding-bottom: 3%;
}

.languages,
.techstack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
  align-items: center;
}

.icon-container {
  background-color: var(--color-accent2);
  border-radius: 7px;
  border-color: var(--color-accent2);
  padding: 9px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2rem;
  text-align: center;
  gap: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.icon-container:hover {
  transform: translateY(-5px);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
}

.icon {
  color: var(--background);
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  height: 25px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.skill-subheading {
  color: white;
  font-family: Outfit;
  font-size: 2rem;
  font-weight: 800;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
