.timeline-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.timeline-item {
  display: flex;
  align-items: stretch;
  position: relative;
  min-height: 50px;
}

.timeline-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 3%;
  position: relative;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Roboto;
  color: var(--color-accent2);
  position: relative;
}

.timeline-time::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--color-accent2);
  border: 2px solid var(--color-accent2);
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-time::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 2px;
  height: 100%;
}

.timeline-content {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 40px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 1.4rem;
  color: var(--color-accent2);
  position: relative;
}

.timeline-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 5px;
  height: 100%;
  background-color: var(--color-accent2);
}

.timeline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-list li {
  margin-bottom: 5px;
}

.timeline-logo {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  object-fit: contain;
}

.timeline-logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 760px) {
  .timeline-content {
   font-size: clamp(1rem, 4dvw, 1.25rem);
  }
  .timeline-time {
    font-size: clamp(1rem, 4dvw, 1.5rem);
    width: 30%;
  }
  .timeline-logo {
    width: 40px;
  }
  .timeline-logo img {
    width: 30px;
    height: 30px;
  }
}