.education-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.education-toggle {
    margin-top: 3%;
}

.degree-section {
    display: flex;
    margin-top: 2%;
}
.university-logo {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 40%;
    min-width: fit-content;
    padding-right: 3%;
    overflow: hidden;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 5px;
    border-color: white;
    border-style: solid;
}

.logo {
    max-width: 300px;
    max-height: 200px;
}

.degree-title {
    font-family: Roboto;
    font-weight: 800;
    font-size: clamp(1.25rem, 4vw, 2rem);
    color: var(--color-accent3);
    display: flex;
}

.degree-subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.7rem);
    color: var(--color-accent3);
    display: flex;
}

.degree-body {
    font-family: Roboto;
    font-weight: 400;
    font-size: clamp(1rem, 2.7vw, 1.5rem);;
    color: var(--color-accent3);
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.degree-description {
    margin-left: 2rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.education-toggle {
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    .education-container {
        margin-top: 3dvh;
    }
    .degree-section {
        flex-direction: column;
    }
    .logo {
        max-width: 100%;
        max-height: auto;
    }
    .university-logo {
        border: none;
        display: flex;
        justify-content: center !important;
        width: 100%;
    }
    .degree-description {
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        max-width: 100%;
    }
    .degree-title {
        font-size: clamp(1.5rem, 5vw, 2rem) ;
    }
    .degree-subtitle {
        font-size: clamp(1.4rem, 4vw, 1.75rem);
    }
    .degree-body {
        font-size: clamp(1.3rem, 3.5vw, 1.5rem);
    }
}